/* *****COMMON****** */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}


/* *****MAIN CSS****** */

         /* SEZIONE IN ALTO A DESTRA */
.speaker{
    padding: 5px;
    background-color: gray;
    position: absolute;
    color: white;
    font-size: 10px;
    padding: 0.2rem;
    opacity: 0.6;
    top: 3px;
    right: 20px;
}

.corner{
    background-color: gray;
    position: absolute;
    color: white;
    font-size: 10px;
    padding: 0.2rem;
    opacity: 0.6;
    top: 3px;
    right: 3px;

}

     /* ***SEZIONE PRINCIPALE*** */

.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    
}

.card-container{
    height: 90vh;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    height: calc(100% / 5);
    width: calc(100% / 7 - 1rem);
    position: relative;
    margin-bottom: 10px;
}

.card img{
    width: 100%;
    height: 100%;
}

.name{
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 10px;
    padding: 0.2rem;
    opacity: 0.6;
}
         

/* ******FOOTER******* */
.tool-bar{
    height: 10vh;
    width: 100%;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-tool{
    height: 100%;
    background-color: gray;
    color: red;
    padding: 0 1rem;
    display: flex;
    align-items: center;

}

.center-tool{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

ul i{
    font-size: 20px;
}

.left-tool{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
}

.fa-solid.fa-share-from-square{
    color: green;
    font-size: 25px;
}



